.dark-icon, .light-icon {
    height: 40px;
    width: 40px;
}

.small-badge {
    height: 60px;
    width: 60px;
}
.large-badge {
    height: 100px;
    width: 100px;
}

#logo img {
    height: 100px;
    width: 100px;
}

.card-icon {
    height: 30px;
    width: 30px;
}

#wrapper {
    display: grid;
    grid-template: 1fr 4fr/1fr 4fr;
    height: 100%;
    width: 100%;
}

#header {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template: 1fr 2fr/2fr 1fr;
    height: 175px;
}

#greeting-container {
    display:flex;
    flex-direction: row;
    height: 100px;
}

#button-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#profile-tray {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 20px;
    gap: 10px;
}

#greeting {
    height: 50px;
}

#sidebar {
    grid-column: 1;
    grid-row: 1/3;
}

#main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template: 1fr 5fr 1fr 5fr/2fr 1fr;
}

#project-header {
    grid-area: 1/1;
}

#announcements-header {
    grid-area: 1/2;
}

#card-container {
    grid-area: 2/1/5/2
}

#announcements {
    grid-area: 2/2;
}

#trending-header {
    grid-area: 3/2
}

#trending {
    grid-area: 4/2;
}